<header id="nav-header">
  <nav>
    <div>
      <span class="logo">
        <a href="/">BUYnSELL</a>
      </span>
      <span class="links">
        <a href="/favorites">Favorites</a>
        <a href="/listings">My Listings</a>
        <a href="/messages">Messages</a>
        <a href="/new_listing">New Listing</a>
      </span>
    </div>

    <% if (user) { %>
    <form method="POST" action="/logout">
      <button type="submit">Logout</button>
    </form>
    <% } else { %>
    <div>
      <form method="GET" action="/login">
        <button type="submit">Login</button>
      </form>
      <form method="GET" action="/register">
        <button type="submit">Register</button>
      </form>
    </div>
    <% } %>
  </nav>
</header>
