<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >
  <!-- External CSS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <!-- App CSS -->
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/nav.css" />
  <link rel="stylesheet" href="/styles/welcome.css" />
  <link rel="stylesheet" href="/styles/item-listings.css" />

</head>

<body>
  <%- include('partials/_navbar') %>
  <header id="welcome-banner">
    <% if (user) { %>
      <h4>Welcome back, <%= user.name %>!</h4>
      <% } else { %>
      <h4>Welcome to BUYnSELL!</h4>
      <% } %>
  </header>
  <main>
    <h4>FEATURED CONTENT</h4>
    <!--LISTINGS RENDERED HERE-->
    <div class="main-container">
      <div class="item-listing">
        <header>LISTING TITLE</header>
        <div class="item-photo">IMAGE</div>
        <article>
          DESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTION
        </article>
        <footer>
          <div class="item-date">DATE POSTED</div>
          <div class="item-price">$99</div>
        </footer>
      </div>
      <div class="item-listing">
        <header>LISTING TITLE</header>
        <div class="item-photo">IMAGE</div>
        <article>
          DESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTION
        </article>
        <footer>
          <div class="item-date">DATE POSTED</div>
          <div class="item-price">$99</div>
        </footer>
      </div>
      <div class="item-listing">
        <header>LISTING TITLE</header>
        <div class="item-photo">IMAGE</div>
        <article>
          DESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTION
        </article>
        <footer>
          <div class="item-date">DATE POSTED</div>
          <div class="item-price">$99</div>
        </footer>
      </div>
      <div class="item-listing">
        <header>LISTING TITLE</header>
        <div class="item-photo">IMAGE</div>
        <article>
          DESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTION
        </article>
        <footer>
          <div class="item-date">DATE POSTED</div>
          <div class="item-price">$99</div>
        </footer>
      </div>
      <div class="item-listing">
        <header>LISTING TITLE</header>
        <div class="item-photo">IMAGE</div>
        <article>
          DESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTION
        </article>
        <footer>
          <div class="item-date">DATE POSTED</div>
          <div class="item-price">$99</div>
        </footer>
      </div>
      <div class="item-listing">
        <header>LISTING TITLE</header>
        <div class="item-photo">IMAGE</div>
        <article>
          DESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTION
        </article>
        <footer>
          <div class="item-date">DATE POSTED</div>
          <div class="item-price">$99</div>
        </footer>
      </div>
      <div class="item-listing">
        <header>LISTING TITLE</header>
        <div class="item-photo">IMAGE</div>
        <article>
          DESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTION
        </article>
        <footer>
          <div class="item-date">DATE POSTED</div>
          <div class="item-price">$99</div>
        </footer>
      </div>
      <div class="item-listing">
        <header>LISTING TITLE</header>
        <div class="item-photo">IMAGE</div>
        <article>
          DESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTION
        </article>
        <footer>
          <div class="item-date">DATE POSTED</div>
          <div class="item-price">$99</div>
        </footer>
      </div>
      <div class="item-listing">
        <header>LISTING TITLE</header>
        <div class="item-photo">IMAGE</div>
        <article>
          DESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTION
        </article>
        <footer>
          <div class="item-date">DATE POSTED</div>
          <div class="item-price">$99</div>
        </footer>
      </div>
      <div class="item-listing">
        <header>LISTING TITLE</header>
        <div class="item-photo">IMAGE</div>
        <article>
          DESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTION
        </article>
        <footer>
          <div class="item-date">DATE POSTED</div>
          <div class="item-price">$99</div>
        </footer>
      </div>
      <div class="item-listing">
        <header>LISTING TITLE</header>
        <div class="item-photo">IMAGE</div>
        <article>
          DESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTIONDESCRIPTION
        </article>
        <footer>
          <div class="item-date">DATE POSTED</div>
          <div class="item-price">$99</div>
        </footer>
      </div>
  </main>

</body>

</html>
