@use 'main';

.main-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: .5em;

  a {
    text-decoration: none;
    color: inherit;
  }
}

.item-listing {
  padding: .5em;
  background-color: main.$accent-color;
  border-radius: 2px;
  box-shadow: 3px 3px 2px rgb(71, 71, 71);
  margin: .5em;
  width: 250px;
  height: 400px;

  .item-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    border: solid;
  }

  header {
    display: flex;
    justify-content: center;
  }

  article {
    height: 25%;
    border: solid;
    margin: .25em 0;
    font-size: 0.7em;
    overflow-wrap: break-word;
    overflow: hidden;
    font-style: italic;
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .item-date {
    font-size: 0.5em;
  }
}

.item-listing:hover {
  transform: translateY(-1px);
  opacity: 0.8;
}

.item-listing:active {
  transform: translateY(0);
  opacity: 0.6;
}

