@use 'main';

.main-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: .5em;

  a {
    text-decoration: none;
    color: inherit;
  }
}

#price-filter {
    @include main.button-styling;

    button {
      background-color: main.$primary-color;
      color: white;
    }
  }

.item-listing {
  padding: .5em .75em;
  background-color: rgb(255, 239, 149);
  background-image: url("https://www.transparenttextures.com/patterns/clean-gray-paper.png");
  border-radius: 7px;
  border: solid;
  border-width: 10px;
  border-color: rgb(255, 217, 0);
  box-shadow: 3px 3px 2px rgb(71, 71, 71);
  margin: .5em;
  width: 225px;
  height: 350px;

  .item-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    border: solid;
    border-color: rgba(255, 192, 19, 0.507);
    border-width: 6px;
  }

  header {
    display: flex;
  }

  article {
    height: 25%;
    margin: .25em 0;
    font-size: 0.7em;
    overflow-wrap: break-word;
    overflow: hidden;
    font-style: italic;
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: solid;
    border-width: 2px;
    padding-top: 5px;
  }

  .item-date {
    font-size: 0.5em;
  }
}

.item-listing:hover {
  transform: translateY(-1px);
  opacity: 0.8;
}

.item-listing:active {
  transform: translateY(0);
  opacity: 0.6;
}

