$background-color: rgb(233, 233, 233);
$primary-color: rgb(0, 30, 58);
$accent-color: rgb(209, 209, 209);
$default-font: 'Roboto Condensed', sans-serif;
$text-color: black;

@mixin reset {
  margin: 0;
  padding: 0;
  border-style: none;
}

@mixin button-styling {
  @include reset;

  button {
    width: fit-content;
    padding: .6em .9em;
    border: none;
    border-radius: .1em;
    transition: opacity .1s;
  }

  button:hover {
    opacity: 0.8;
  }

  button:active {
    opacity: 0.6;
  }

}

@mixin page-header {
  @include reset;

  font-size: 3em;
  padding: .75em 1em;
  width: fit-content;
  background-color: $accent-color;
  box-shadow: 3px 3px 2px rgb(71, 71, 71);
  border-radius: 2px;
}

body {
  background: $background-color;
  font-family: $default-font;
  color: $text-color;
}

main {
  width: 90%;
  margin: 0 auto;
  font-size: 1.5em;
}

.page-header {
  @include page-header;
  margin: 1em;
}

.container-vertical {
  display: flex;
  flex-direction: column;
}

.hidden-values {
  display: none;
}

