$background-color: rgb(255, 252, 235);
$primary-color: rgb(37, 37, 37);
$accent-color: rgb(211, 211, 211);
$default-font: 'Roboto Condensed', sans-serif;
$header-font: 'Bangers', 'cursive';
$text-color: black;

@mixin reset {
  margin: 0;
  padding: 0;
  border-style: none;
}

@mixin button-styling {
  @include reset;

  button {
    width: fit-content;
    padding: .6em .9em;
    border: none;
    border-radius: .1em;
    transition: opacity .1s;
  }

  button:hover {
    opacity: 0.8;
  }

  button:active {
    opacity: 0.6;
  }

}

.avatar {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  background-color: $primary-color;
  height: 2em;
  width: 2em;
  border-radius: 4em;
}

@mixin box-card {
  background-color: $accent-color;
  box-shadow: 3px 3px 2px rgb(71, 71, 71);
  border-radius: 2px;
}

@mixin page-header {
  @include reset;
  @include box-card;

  font-size: 3em;
  font-family: 'Bangers', 'cursive';
  padding: .75em 1em;
  width: fit-content;
}

body {
  background: $background-color;
  font-family: $default-font;
  color: $text-color;
}

main {
  width: 90%;
  margin: 0 auto;
  font-size: 1.5em;
}

.page-header {
  @include page-header;
  margin: 1em;
}

.container-vertical {
  display: flex;
  flex-direction: column;
}

.hidden-values {
  display: none;
}

