@use 'main';

.thread-dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  max-width: 40em;
  padding: .5em;
  background-color: main.$accent-color;
  margin-bottom: 10px;
  box-shadow: 3px 3px 2px rgb(71, 71, 71);
  border-radius: 2px;
}

.thread-dropdown:hover {
  transform: translateY(-1px);
  opacity: 0.8;
}

.thread-dropdown:active {
  transform: translateY(0);
  opacity: 0.6;
}

.message-thread {
  display: none;
}

.reply-form {
  @include main.button-styling;

  max-width: 41em;

  textarea {
    height: 3em;
    resize: none;
    width: 100%;
    font-size: .85em;
  }

  button {
    display: block;
    font-size: .75em;
    background-color: main.$primary-color;
    margin-left: auto;
    margin-bottom: 10px;
    color: white;
  }
}
