@use 'main';

#nav-header {
  width: 100%;
  color: white;
  margin: 0;
}

nav {

  @include main.button-styling;
  display: flex;
  height: 100px;
  width: 94%;
  align-items: center;
  justify-content: space-between;
  background-color: main.$primary-color;
  padding: 3%;
  color: white;

  .logo {
    font-size: 2.5em;
  }

  .links {
    display: flex;
    align-items: center;
    font-size: 1.2em;
  }

  div {
    display: flex;
  }

  a {
    display: flex;
    align-items: center;
    padding: 0px 10px;
    height: 2em;
    text-decoration: none;
    color: inherit;
  }

  a:hover {
    opacity: 0.8;
  }

  a:active {
    opacity: 0.5;
  }

  button {
    margin: .5em;
    background-color: main.$accent-color;
    font-size: 1.1em;
    transition: opacity .1s;
  }

}
