@use 'main';

#welcome-banner {
  @include main.page-header;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  max-width: 1200px;
  margin: 50px auto;
  height: 125px;

  h4 {
    font-weight: normal;
  }
}
